// -----------------------------------------------------------------------------
// This file contains all styles related to the colors of the site/application.
// -----------------------------------------------------------------------------

$primary-color: #0152a8;
$btn-color: #39CDCC;
$text-color: #545F7D;
$secondary-color: #213F7D;
$danger-color: #E4033B;
$success-color: #39CD62;
$warning-color: #E9B200;
$light-color: #E5E5E5;

// background colours
$bg-white: #fff;
